USE [master]
GO
/****** Object:  Database [ProductsTraining]    Script Date: 25.10.2024 14:17:00 ******/
CREATE DATABASE [ProductsTraining]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductsTraining', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProductsTraining.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductsTraining_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProductsTraining_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductsTraining].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductsTraining]
GO
/****** Object:  Table [dbo].[NamePartner]    Script Date: 25.10.2024 14:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamePartner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NamePartner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NameProduction]    Script Date: 25.10.2024 14:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NameProduction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_NameProduction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerProducts]    Script Date: 25.10.2024 14:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerProducts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDNameProduction] [int] NOT NULL,
	[IDNamePartner] [int] NOT NULL,
	[CountProduction] [int] NOT NULL,
	[DateOfSell] [date] NOT NULL,
 CONSTRAINT [PK_PartnerProducts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 25.10.2024 14:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDTypePartner] [int] NOT NULL,
	[IDNamePartner] [int] NOT NULL,
	[DirectorLastName] [nvarchar](50) NOT NULL,
	[DirectorFirstName] [nvarchar](50) NOT NULL,
	[DirectorPatronymic] [nvarchar](50) NOT NULL,
	[EmailPartner] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PhonePartner] [nvarchar](50) NOT NULL,
	[MailIndex] [int] NOT NULL,
	[Area] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[House] [int] NOT NULL,
	[INN] [nvarchar](50) NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 25.10.2024 14:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDProductType] [int] NOT NULL,
	[NameProduction] [nvarchar](300) NOT NULL,
	[Article] [int] NOT NULL,
	[MinCostForPartner] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 25.10.2024 14:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeProduction] [nvarchar](50) NOT NULL,
	[Coeff] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMaterial]    Script Date: 25.10.2024 14:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMaterial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeMaterial] [nvarchar](50) NOT NULL,
	[Percantage] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_TypeMaterial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypePartner]    Script Date: 25.10.2024 14:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypePartner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypePartner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NamePartner] ON 

INSERT [dbo].[NamePartner] ([ID], [Name]) VALUES (1, N'База Строитель')
INSERT [dbo].[NamePartner] ([ID], [Name]) VALUES (2, N'МонтажПро')
INSERT [dbo].[NamePartner] ([ID], [Name]) VALUES (3, N'Паркет 29')
SET IDENTITY_INSERT [dbo].[NamePartner] OFF
GO
SET IDENTITY_INSERT [dbo].[NameProduction] ON 

INSERT [dbo].[NameProduction] ([ID], [Name]) VALUES (1, N'Инженерная доска Дуб Французская елка однополосная 12 мм')
INSERT [dbo].[NameProduction] ([ID], [Name]) VALUES (2, N'Ламинат Дуб дымчато-белый 33 класс 12 мм')
INSERT [dbo].[NameProduction] ([ID], [Name]) VALUES (3, N'Ламинат Дуб серый 32 класс 8 мм с фаской')
SET IDENTITY_INSERT [dbo].[NameProduction] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerProducts] ON 

INSERT [dbo].[PartnerProducts] ([ID], [IDNameProduction], [IDNamePartner], [CountProduction], [DateOfSell]) VALUES (1, 4, 1, 15500, CAST(N'2023-03-23' AS Date))
INSERT [dbo].[PartnerProducts] ([ID], [IDNameProduction], [IDNamePartner], [CountProduction], [DateOfSell]) VALUES (2, 2, 1, 12350, CAST(N'2023-12-18' AS Date))
INSERT [dbo].[PartnerProducts] ([ID], [IDNameProduction], [IDNamePartner], [CountProduction], [DateOfSell]) VALUES (3, 3, 1, 37400, CAST(N'2024-06-07' AS Date))
SET IDENTITY_INSERT [dbo].[PartnerProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([ID], [IDTypePartner], [IDNamePartner], [DirectorLastName], [DirectorFirstName], [DirectorPatronymic], [EmailPartner], [Password], [PhonePartner], [MailIndex], [Area], [City], [Street], [House], [INN], [Rating]) VALUES (1, 1, 1, N'Иванова', N'Александра', N'Ивановна', N'aleksandraivanova@ml.ru', N'6LLd8gxpW8', N'+7 (493) 123-4567', 652050, N'Кемеровская', N'Юрга', N'Лесная', 15, N'2222455179', 7)
INSERT [dbo].[Partners] ([ID], [IDTypePartner], [IDNamePartner], [DirectorLastName], [DirectorFirstName], [DirectorPatronymic], [EmailPartner], [Password], [PhonePartner], [MailIndex], [Area], [City], [Street], [House], [INN], [Rating]) VALUES (2, 3, 3, N'Петров', N'Василий', N'Петрович', N'vppetrov@vl.ru', N'I4fNvLsOsr', N'+7 (987) 123-5678', 164500, N'Архангельская', N'Северодвинск', N'Строителей', 18, N'3333888520', 7)
INSERT [dbo].[Partners] ([ID], [IDTypePartner], [IDNamePartner], [DirectorLastName], [DirectorFirstName], [DirectorPatronymic], [EmailPartner], [Password], [PhonePartner], [MailIndex], [Area], [City], [Street], [House], [INN], [Rating]) VALUES (3, 4, 5, N'Соловьев', N'Андрей', N'Николаевич', N'ansolovev@st.ru', N'31EJqnODxN', N'+7 (812) 223-3200', 188910, N'Ленинградская', N'Приморск', N'Парковая', 21, N'4440391035', 7)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [IDProductType], [NameProduction], [Article], [MinCostForPartner]) VALUES (1, 3, N'Паркетная доска Ясень темный однополосная 14 мм', 8758385, CAST(4456.90 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID], [IDProductType], [NameProduction], [Article], [MinCostForPartner]) VALUES (2, 3, N'Инженерная доска Дуб Французская елка однополосная 12 мм', 8858958, CAST(7330.99 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID], [IDProductType], [NameProduction], [Article], [MinCostForPartner]) VALUES (3, 1, N'Ламинат Дуб дымчато-белый 33 класс 12 мм', 7750282, CAST(1799.33 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ID], [TypeProduction], [Coeff]) VALUES (1, N'Ламинат', CAST(2.35 AS Decimal(18, 2)))
INSERT [dbo].[ProductType] ([ID], [TypeProduction], [Coeff]) VALUES (2, N'Массивная доска', CAST(5.15 AS Decimal(18, 2)))
INSERT [dbo].[ProductType] ([ID], [TypeProduction], [Coeff]) VALUES (3, N'Паркетная доска', CAST(4.34 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeMaterial] ON 

INSERT [dbo].[TypeMaterial] ([ID], [TypeMaterial], [Percantage]) VALUES (1, N'Тип материала 1', CAST(0.0010 AS Decimal(18, 4)))
INSERT [dbo].[TypeMaterial] ([ID], [TypeMaterial], [Percantage]) VALUES (2, N'Тип материала 2', CAST(0.0095 AS Decimal(18, 4)))
INSERT [dbo].[TypeMaterial] ([ID], [TypeMaterial], [Percantage]) VALUES (3, N'Тип материала 3', CAST(0.0028 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[TypeMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[TypePartner] ON 

INSERT [dbo].[TypePartner] ([ID], [Name]) VALUES (1, N'ЗАО')
INSERT [dbo].[TypePartner] ([ID], [Name]) VALUES (2, N'ОАО')
INSERT [dbo].[TypePartner] ([ID], [Name]) VALUES (3, N'ООО')
SET IDENTITY_INSERT [dbo].[TypePartner] OFF
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD  CONSTRAINT [FK_PartnerProducts_NamePartner] FOREIGN KEY([IDNamePartner])
REFERENCES [dbo].[NamePartner] ([ID])
GO
ALTER TABLE [dbo].[PartnerProducts] CHECK CONSTRAINT [FK_PartnerProducts_NamePartner]
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD  CONSTRAINT [FK_PartnerProducts_NameProduction] FOREIGN KEY([IDNameProduction])
REFERENCES [dbo].[NameProduction] ([ID])
GO
ALTER TABLE [dbo].[PartnerProducts] CHECK CONSTRAINT [FK_PartnerProducts_NameProduction]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_NamePartner] FOREIGN KEY([IDNamePartner])
REFERENCES [dbo].[NamePartner] ([ID])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_NamePartner]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_TypePartner] FOREIGN KEY([IDTypePartner])
REFERENCES [dbo].[TypePartner] ([ID])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_TypePartner]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductType] FOREIGN KEY([IDProductType])
REFERENCES [dbo].[ProductType] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductType]
GO
USE [master]
GO
